
/*NAV*/
.menu {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
.show-mobile-menu {
  height: 280px;
  transition: height 1s;
}
.menu ul {
  list-style-type: none;
  padding-left: 0;
}
.menu ul li a {
  height:35px;
  font-size: 16px;
  border-bottom:2px solid #fbe474;
  display: flex;
  align-items:center;
  justify-content:center;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
#hamburger {
  background-color: white;
  color: #323263;
  box-shadow: none;
  font-size:2rem;
  padding:1px;
}
/*nav end*/

.hero {
  background-image: url('imgs/mustardseeds.png');
  background-repeat: no-repeat;
  background-position: top;
  height: 320px;
}
.hero-txt {
  margin-left:55px;
}
.hero-txt h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  font-family: 'Special Elite', cursive;
  color: #fdcc0d;
  font-size:3rem;
}
h2 {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  color: #323263;
  font-weight: 700;
}
main {
  margin:1rem auto;
  width:90%;
}
h3 {
  color:#323263;
  font-family: 'Karla', sans-serif;
  text-align: center;
}
.services{
  text-align: center;
}
#pennymore {
  transition: height 0.5s;
}
#pennymore p {
  font-family: 'Quicksand', sans-serif;
  font-size:0.9rem;
  text-align:left;
  width:80%;
  margin:auto;
}
.learnquote {
  text-align: center;
  font-style: italic;
  color: #e75339;
  font-weight: bold;
  vertical-align: middle;
  font-size: 0.85rem;
  display: table;
  margin: auto;
}
.mission {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}
img {
  margin: 0.5%;
  max-width:100%;
}
button {
  text-align:center;
  color:white;
  background-color:#323263;
  border: none;
  border-radius: 4px;
  padding:14px;
  font-family: 'special elite', cursive;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
footer {
  background-color: #fbe474;
  height:90px;
  display:flex;
}
h4 {
  color:#1f6097;
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  margin:0.2em;
  padding-left:1.2%;
}
.col {
  flex:50%;
}
.contact-info {
  margin:1px;
  padding-left:1.2%;
  color: #323263;
  font-family: 'quicksand', sans-serif;
  font-weight:500;
  font-size: 0.8rem;
}
.social {
  padding-left:0;
}
/*Gallery page*/
.maingallery {
  display: flex;
}

.maingallery img {
  display: block;
  max-width:55%;
  margin: auto;
}
.gallerypage {
  width:80%;
}
.gallerytitle {
  font-family: 'quicksand', sans-serif;
  font-size: 0.9rem;
  color: black;
}
.maingallery h1 {
  font-family: 'special elite', cursive;
  font-size:1.5rem;
  transform: translate(0, 12%);
  text-align: left;
}
.gallerysection {
  font-family: 'quicksand', sans-serif;
}
.seemore-art {
  color: #e75339;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  font-weight: 700;
}
/*gallery end*/
/*donate page*/
.hero-donate {
  background-image: url('imgs/helpinghands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  height:260px;
}

.hero-donate button {
  padding: 15px 40px;
  font-size: 1.4rem;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
button:hover {
  background-color:#1f6097;
}

.donateside {
  margin-right:1.5%;
  float:left;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  color:#e75339;
  font-family: 'Karla', sans-serif;
  font-weight:700;
}
.howtohelp h2 {
  font-size: 1rem;
  margin-top:10px;
}
.howtohelp p {
  margin:15px;
  font-family: 'quicksand', sans-serif;
  font-size: 0.9rem;
}

.howtohelp {
  margin:4px;
  width:80%;
}


/*accordion*/
#accordion {
  width: 18%;
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: 2%;
}

.accordion-header {
  height:45px;
  display: flex;
  align-items:center;
  background-color: #e75339;
  margin:10px auto;
  color:white;
  padding:0 20px;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 0.8rem;
}
.accordion-header h3 {
  color:white;
}
.open-p {
  height:0;
  overflow: hidden;
  font-size:0.7rem;
  transition: height 0.4s;
}
.open-p p {
  font-family: 'quicksand', sans-serif;
  font-size:0.7rem;
}
.accordion-open {
  height:160px;
  padding:3px 3px;
  transition: height 0.4s;
}
.toggle-button {
  cursor: pointer;
}
.accordion-span {
  color: #1f6097;
  font-weight:bold;
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width:768px) {
  .menu {
    height: 55px;
  }
  .menu ul {
    display:flex;
    justify-content: space-evenly;
  }
  #hamburger {
    display: none;
  }
  .menu ul li a {
    border-bottom: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  .menu ul li a:hover {
    color:#fdcc0d;
    transition: color 1s;
  }
}

@media (max-width:850px) {
  #accordion {
    width: 70%;
    margin:auto;
    position: unset;
    top: 0;
    right: 0;
  }
  .howtohelp {
    margin: auto;
  }
  .maingallery {
    display:block;
  }
  .maingallery img {
    max-width:100%;
  }
}
