* {
  header: 0;
  body: 0;
}
/*hamburger menu*/
#nav-toggle {
  color: black;
  text-decoration: none;
}

.desk-menu {
  display: none;
  text-decoration: none;
}
nav {
  display: none;
}

.hero {
    background-image: url('../imgs/mustardseeds.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }
.hero-txt {
  text-align:right;
  position:absolute;
  text-align: center;
  left:15%;
  top:25%;
  font-family: 'special elite', sans-serif;
  color: #fdcc0d;
  font-size:1.5rem;
}
h2 {
  font-family: 'karla-bold', sans-serif;
  font-size: 1.1rem;
  color: #323263;
}
main {
  width:80%;
  margin:4rem auto;
}
h3 {
  color:#323263;
  font-family: 'karla', sans-serif;
}
button {
  text-align:center;
  color:white;
  background-color:#323263;
  border: none;
  border-radius: 4px;
  padding:10px;
  font-family: 'special elite', serif;
  font-size:1rem;
}
